<!-- HTML file to show other user's profile when you type /home/user/profile/<username> -->
{% extends "base.html" %} {% block title %}{{otherUser.username}}{% endblock %} {%
block content %}
<div class="container">
<div class="row mt-5 border-bottom pb-5">
    <div class="col m-auto text-center">
      <i class="fa-solid fa-circle-user text-white userPicture"></i>
    </div>
    <!-- Username, first name, and last name -->
  <div class="col">
    <h3 class="text-white verdana me-3 d-inline">{{otherUser.username}}</h3>
    <p class="text-second ms-5 playfair lh-1 mt-3">
      Name: {{otherUser.firstName}} {{otherUser.lastName}}
    </p>
    <!-- Show sex, city, sport, age, and bio of user -->
    <p class="text-second ms-5 playfair lh-1 mt-3">Sex: {{otherUser.sex}}</p>
    <p class="text-second ms-5 playfair lh-1 mt-3">City: {{user.city}}</p>
    <p class="text-second ms-5 playfair lh-1 mt-3">Sport: {{user.sport}}</p>
    <p class="text-second ms-5 playfair lh-1 mt-3">Age: {{currentYear - user.age}}</p>
    <p class="border border-secondary p-3 text-light bio_p">{{otherUser.bio}}</p>
  </div>
  <div class="col-3"></div>
</div>
<div class="photos">
  <h2>Images not yet available in this version</h2>
</div>
</div>
{% endblock %}
