{% extends "base.html" %} {% block title %}Profile{% endblock %}{% block content
%}
<div class="row mt-5 border-bottom pb-5">
  <div class="col"></div>
  <div class="col">
    <form method="POST">
      <h3 class="text-white verdana me-3 d-inline">{{user.username}}</h3>

      <span
        ><button class="btn btn-secondary btn-sm">Edit Profile</button></span
      >
    </form>
    <p class="text-second ms-5 playfair lh-1 mt-3">
      Name: {{user.firstName}} {{user.lastName}}
    </p>
    <p class="text-second ms-5 playfair lh-1 mt-3">Sex: {{user.sex}}</p>
    <p class="border border-secondary p-3 text-light bio_p">{{user.bio}}</p>
  </div>
  <div class="col-3"></div>
</div>
<div class="photos">
  <h2>Images not yet available in this version</h2>
</div>
{% endblock %}
